<div class = "card-div">

  <button class='card show' data-id='<%= card.id %>'>
    <%= card.escape('title') %>
  </button>

  <button class='delete hide' data-id='<%= card.id %>'>
    Delete
  </button>

</div>
