<h2> This is your Boards Nesting Place, Funky Child </h2>
<br>
<h4> Board Title: <%= board.escape('title') %> </h4>
<br>

<p> Lists </p>
  <ul>
    <% board.lists().each(function(list){ %>
      <li> <%= list.escape('title') %> </li>
        <ul>
          <% list.cards().each(function(card){ %>
            <li> <%= card.escape('title') %> </li>
          <% }) %>
        </ul>
    <% }) %>
  </ul>


<br>
<a href= <%= "#/boards/" + board.get('id') + "/new_list" %> > Create New List </a>
<br>
<a href="/">Back to Boards</a>
<br>
<button type="button" id="delete-board"> OMG DELETE THE BOARD </button>
