<h2> This is your Boards Nesting Place</h2>
<br>
<h4> Board: <%= board.escape('title') %> </h4>
<br>
<p> Drag and drop lists/cards to change priority. All changes will be immediately saved to the database ;) </p>

<div class='row'>
  <ul class='lists'>
  </ul>
</div>

<br>
<a href= <%= "#/boards/" + board.get('id') + "/new_list" %> > Create New List </a>
<br>
<a href="/">Back to Boards</a>
<br>
<button type="button" id="delete-board" class="btn btn-danger"> OMG DELETE THE BOARD </button>
