/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.board-list{
  min-height:300px;
  border:solid 2px;
  margin:10px;
  //background-color: #6CAF90;
  .btns{
    position:absolute;
    bottom: 0px;
    width:200px;
    text-align: center;
    margin: 3px;
    form{
      margin: 3px;
    }
  }

}

.card-div button{
  text-align: center;
  width: 160px;
  margin: 0 auto;
  margin-bottom: 5px;
}

ul {
list-style-type: none;
}
