/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.navbar {
	height: 20px;
}

.board-list{
  min-height:340px;
  border:solid 2px;
  margin:10px;
  //background-color: #6CAF90;
  .btns{
    position:absolute;
    bottom: 0px;
    width:200px;
    text-align: center;
    margin: 3px;
    form{
      margin: 3px;
      input{
        margin: 3px;
      }
    }
  }

}

.card-div{
  // this isn't flexible design, REFACTOR!
  overflow: hidden;
  position: relative;
  left: -31px;
  //width: 160px;
  margin:10px;
	padding:5px ;
  border-radius: 5px;
	-webkit-box-shadow:
		0 1px 5px #0061aa,
		inset 0 10px 20px #b6f9ff;
	-moz-box-shadow:
		0 1px 5px #0061aa,
		inset 0 10px 20px #b6f9ff;
	box-shadow:
		0 1px 5px #0061aa,
		inset 0 10px 20px #b6f9ff;
	background: #6fb2e5;
  button{
    float: right;
  }
}

.cards{
  overflow: scroll;
  height: 170px;
}

ul {
  min-height: 100px;
  list-style-type: none;
}
