<form id="new-board">
  <label>Title</label>
  <input type="text" name="list[title]">

  <label>Rank</label>
  <input type="text" name="list[rank]">

  <input type="hidden" name="list[board_id]" value="<%= board.get('id') %>">

  <input type="submit" value="Aw Yeah">
</form>
