<form id="new-list">
  <label>Title</label>
  <input type="text" name="list[title]">

  <input type="hidden" name="list[rank]" value="<%= board.lists().length %>">

  <input type="hidden" name="list[board_id]" value="<%= board.get('id') %>">

  <input type="submit" value="Aw Yeah">
</form>
