<!-- <div class="col-xs-3 board-list">
  <li> <%= list.escape('title') %>
    <ul>
      <% list.cards().each(function(card){ %>
        <li class='card' data-id='<%= card.id %>'>
          <%= card.escape('title') %>
        </li>
      <% }) %>
    </ul>
  </li>
</div>

<h2> subviews </h2> -->

<div class="col-xs-3 board-list">
  <li> <%= list.escape('title') %>
    <ul class="cards">

    </ul>
  </li>
</div>
